*, *::before, *::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    color: var(--font-color);
}

@font-face {
    font-family: 'Baloo2';
    src: url('./fonts/Baloo_2/static/Baloo2-Medium.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'PoppinsItalic';
    src: url('./fonts/Poppins/Poppins-Italic.ttf');
}

:root {
    --font-color: #ffffff;
    --bg-color: #2e1770;
    --bg-color2: #010103;
    --theme-color: #41229e;
    --theme-color-light: #613ad6;
    --text-bg-color: #424242;
    /* 130a2e */
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 70vw;
    height: 80vh;
    display: flex;

    /* grid-template-columns: auto 1fr; */
    background-color: var(--bg-color2);
    border: 1px solid #505050;
    border-radius: 20px;
    box-shadow: 10px 10px 50px #000000;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#sidebar {
    width: 300px;
    border-right: 1px solid #505050;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: sticky;
    top: 0;
}

#sidebar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    font-family: "Poppins";
    font-size: 16px;
    padding: 0;
}

.list-item > a,
.list-item > button  {
    width: 100%;
    padding: 0.5em 0 0.5em 3em;
}

.list-item > a:hover, 
.list-item > button:hover {
    background-color: var(--theme-color);
    border-radius: 10px;
}

.list-item.active > a > span {
    color: var(--theme-color-light);
}

#add-project-icon {
    opacity: 0;
}

.list-item > button:hover {
    > #add-project-icon {
        position: relative;
        left: 3em;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
}

#add-project-icon:hover {
    background-color: var(--theme-color-light);
}

#sidebar a, 
#sidebar .dropdown-btn, 
#sidebar .icon {
    border-radius: 0.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75em;
}

.dropdown-btn {
    background: none;
    border: none;
    padding: 0%;
    font-family: "Poppins";
    font-size: 16px;
}

#logo-div {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 40px;
    font-family: 'Baloo2';
    font-size: 16px;
    margin-top: 30px;
}

#logo-icon {
    width: 48px;
}

.icon {
    max-width: 20px;
}

.list-item {
    width: 100%;
}

.sub-list {
    padding-left: 5.5em;
    list-style: none;
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    > div {
        overflow: hidden;
    }
}

.sub-list.show {
    grid-template-rows: 1fr;
}

input {
    background-color: white;
    width: 200px;
    height: 20px;
}

.modal {
    display: none;
}

.modal.active {
    font-family: "Poppins";
    display: block;
    position: fixed;
    width: 30%;
    height: 30%;
    left: 40%;
    top: 25%;
    border: 2px solid #222222;
    border-radius: 20px;
    box-shadow: 2px 2px 50px #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    z-index: 5;
}

.modal > h1 {
    font-family: "Baloo2";
    font-size: 2em;
}

.taskTitle {
    font-family: "Poppins";
    height: 30px;
    padding-left: 20px;
    outline: none;
    color: white;
    background-color: var(--text-bg-color);
    border: none;
    border-radius: 10px;
}

#project-name {
    font-family: "Poppins";
    background-color: var(--text-bg-color);
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#projectModal div button {
    width: 100px;
    background-color: var(--theme-color);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

#projectModal div button:hover {
    background-color: var(--theme-color-light);
}

#overlay {
    pointer-events: none;
    user-select: none;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 4;
}

#overlay.active {
    display: block;
    pointer-events: none;
}
    
.project {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.project.activeProject {
    > li {
        color: var(--theme-color-light);
    }
}

.project > img {
    max-height: 16px;
    opacity: 0;
    justify-self: flex-end;
}

.project:hover {
    cursor: pointer;
    > img {
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
}

.add-fav-icon {
    position: fixed;
    left: 32em;
}

.remove-icon {
    position: fixed;
    left: 34em;
}

#task-list {
    font-family: "poppins";
    margin: 40px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    overflow: auto;
}

#task-list::-webkit-scrollbar {
    display: none;
}

#task-list > * {
    justify-self: center;
}

#task-list.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#add-task-icon {
    max-width: 100px;
    padding: 10px;
}

#add-task-icon2 {
    max-width: 40px;
}

#add-task-icon:hover {
    background-color: #242424;
    border-radius: 10px;
}

#empty-task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#task-list > #img_div {
    width: 90%;
    max-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5050504d;
    border-radius: 10px;
}

#task-list > #img_div:hover {
    background-color: #50505077;
}

.task {
    font-family: "Poppins";
    width: 90%;
    max-width: 100%;
    min-width: 80px;
    padding: 20px 40px;
    border: 1px solid #505050;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background: linear-gradient(to right, var(--bg-color), var(--bg-color2));
    box-shadow: 5px 5px 10px #222222;
}

.task > div {
    display: flex;
    gap: 20px;
    > div {
        display: flex;
        gap: 5px;
        align-items: center;
    }
}

.task select {
    height: 30px;
    padding: 0 5px;
    font-family: "Poppins";
    background-color: var(--text-bg-color);
    border: none;
    border-radius: 5px;
    outline: none;
}

.taskCheckbox {
    height: 30px;
    width: min-content;
    accent-color: var(--theme-color-light);
    vertical-align: middle;
    border-radius: 5px;
}

.taskDueDate {
    height: 30px;
    padding: 0 5px;
    max-width: 120px;
    background-color: var(--text-bg-color);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}